#header
{
  width: 100%;
  color: #fff;
  background-image: url("../assets/BackgroundImage.jpeg");
  background-size: 100% ;
  display: flex;
}

#div-title
{
  width: 40%;
  margin: 20px;
}

#title
{
  text-decoration-style: solid;
  padding: 10px;
  font-size: 60px;
  font-family: fantasy;
}

#div-search-box
{
  width: 60%;
  text-align: right;
  margin: 20px;
}
