<div id="header" class="container" >
  <div id="div-title">
    <h1 id="title">Travel Map</h1>
  </div>

  <div id="div-search-box">
    <mat-card style="width: fit-content;">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 500px">
          <mat-label>Message</mat-label>
          <input matInput #message maxlength="256" placeholder="Ex. Deniyaya Mountains">
          <mat-hint align="start"><strong>Where do you want to go?</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </form>
    </mat-card>
  </div>
</div>

<br>

<mat-card style="margin: 5px">
  <p>map goes here</p>
</mat-card>


