<div id="sect1" class="container" >

  <mat-grid-list cols="2" rowHeight="100px" rowWidth ="1000px">

    <mat-grid-tile cols="3">
      <h1 class="current-location">Travel Map </h1>
    </mat-grid-tile>
    <mat-grid-tile class="card1" >
      <div>
        <mat-card >
          <div style="width:200px">
            <h3>
              Current Location :
            </h3>
          </div>
          <div style="width:100px">
            <input class="testfeild">
          </div>

        </mat-card>
      </div>

    </mat-grid-tile>

  </mat-grid-list>

  <mat-form-field class="example-form-field" appearance="fill">
  </mat-form-field>
</div>

